body {
  background-color: #f4f4f4;
  color: #555555;

  font-family: "Arial Black", Gadget, sans-serif;

  font-size: 12px;
  font-weight: bold;

  line-height: 1.6em;
  margin: 0;
}

.container{
  width: 80%;
  margin: auto; /*Spacing around an element*/
}

.box-1{
  background-color: #333333;
  color: #fff;
  border-right: 5px red solid;

  border-width: 3px;
  border-bottom-width: 10px;
  border-top-style: dotted;
  
}